.donation {
  padding: 80px 0 100px;
  background-color: $color-background-pets;

  @include media-mobile {
    padding: 42px 0px;
  }
}

.donation__wrapper {
  @include flex($wrap: wrap);
  gap: 30px;
}

.donation__image {
  width: 505px;
  height: 261px;
  background: url('/images/png/donation/dog.png') no-repeat;
  background-size: cover;
  
  @include media-tablet {
    order: 2;
    width: adaptiv-value(505, 768);
    height: adaptiv-value(261, 768);
  }

  @include media-mobile {
    width: adaptiv-value(260, 320);
    height: adaptiv-value(135.2, 320);
  }
}

.donation__content {
  @include flex($align: flex-start, $direction: column);
  gap: 20px;
  max-width: 380px;

  @include media-tablet {
    align-items: center;
  }
}

.donation__subtitle {
  @include font($size: 1.5rem, $height: 1.7rem);
  color: $color-title;
}

.credit-card {
  @include flex();
  gap: 15px;
  padding: 10px 15px;
  border-radius: 9px;
}

.donation__description {
  @include font($family: $font-additional, $spacing: 0rem, $size: 1.2rem, $height: 1.8rem);
  font-style: italic;
  color: $color-donation-description;

  @include media-tablet {
    text-align: justify;
  }
}

// .donation__wrapper {
//   @include flex($align: flex-start);
//   gap: 32px;

//   @include media-tablet {
//     flex-direction: column-reverse;
//     align-items: center;
//     gap: 48px;
//   }
  
//   @include media-mobile {
//     margin-top: 1px;
//     text-align: center;
//     gap: 31px;
//   }
// }

// .img__donation-dog {
//   margin-top: 11px;

//   @include media-tablet {
//     margin-top: 12px;
//     margin-right: 2px;
//   }

//   @include media-mobile {
//     width: 260px;
//     height: 135.2px;
//     margin-top: 11px;
//     margin-right: 0;
//   }
// }

// .donation__content {
//   max-width: 380px;
//   margin-right: 1px;

//   .title {
//     padding-top: 1px;

//     @include media-tablet {
//       padding-top: 1px;
//     }
//   }

//   @include media-mobile {
//     max-width: 280px;

//     .title {
//       padding-left: 2px;
//     }
//   }
// }

// .donation__subtitle {
//   @include font($size: 1.5rem, $height: 1.7rem);
//   color: $color-title;
//   padding: 19px 0 20px;

//   @include media-mobile {
//     @include font($size: 1.5rem, $spacing: 0, $height: 2.4rem);
//     align-items: center;
//     padding: 20px 0 20px;
//   }
// }

// .legal__information-animal {
//   @include font($family: $arial, $spacing: 0, $size: 1.2rem, $height: 1.8rem);
//   font-style: italic;
//   color: $color-donation-description;

//   @include media-mobile {
//     text-align: justify;
//   }
// }

// .img__sredit-card {
//   margin-right: 15px;
//   @include media-mobile {
//     margin-right: 13px;
//   }
// }
